global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    timeout connect 10s
    timeout client  1m
    timeout server  1m

frontend kubernetes_frontend
    bind *:6443
    mode tcp
    option tcplog
    default_backend kubernetes_backend

backend kubernetes_backend
    mode tcp
    option httpchk GET /healthz
    balance roundrobin
{% for host in groups['kubernetes_masters'] %}
    server {{ hostvars[host]['ansible_hostname'] | default(host) }} {{ host }}:6443 check check-ssl verify none
{% endfor %}